.buscar {
    width: 100%;
    max-width: 600px;
    display: flex;
    align-content: center;
    margin-top: 40px;
    margin-left: 25%;
    background: #fff;
    padding: 10px;
    border-radius: 30px;
}
.buscar input {
    width: 100%;
    max-width: 600px;
    padding: 10px;
    border: none;
    background: none;
    font: 400 18px Roboto, sans-serif;
}

.buscar button {
    border: none;
    background: none;
    padding: 10px;
}

.livros-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
}

.livros-container header {
    display: flex;
    align-items: center;
}

.livros-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.livros-container header img {
    height: 64px;
}

.livros-container header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.livros-container header button:hover {
    border-color: #999;
}


.livros-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.livros-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.livros-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.livros-container ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.livros-container ul li button:hover {
    opacity: 0.8;
}


.livros-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.livros-container ul li p + strong {
    margin-top: 32px;
}

.livros-container ul li p {
    color: #737380;
    line-height: 21px;
}
