@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

input, button, textarea {
    font: 400 18px Roboto, sans-serif;
}

button {
    cursor: pointer;
}

form input {
    width: 100%;
    margin: 5px;
    height: 60px;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 0 24px;

}

form textarea {
    width: 100%;
    min-height: 140px;
    resize: vertical;
    color: #333;
    border: 1px solid #dcdce6;
    border-radius: 8px;
    padding: 16px 24px;
    line-height: 24px;
}

.button {
    width: 100%;
    height: 60px;
    background: #0e7be8;
    border: 0;
    border-radius: 8px;
    color: #FFF;
    font-weight: 700;
    margin-top: 16px;
    transition: filter 0.2s;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
}

.button:hover {
    filter: brightness(90%);
}

.back-link{
    display: flex;
    align-items: center;
    margin-top: 40px;
    color: #41414d;
    font-size: 18px;
    text-decoration: none;
    font-weight: 500;
    transition: opacity 0.2s;
}

.back-link:hover{
    opacity: 0.8;
}

.back-link svg{
    margin-right: 8px;
}

.header-container {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 40px auto;
}

.header-container span {
    margin-top: 5px;
    width: 300px;
    font-size: 20px;
    margin-left: 24px;
}

.header-container img {
    height: 64px;
}

.header-container button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.header-container button:hover {
    border-color: #999;
}


.header-container h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

.header-container ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
}

.header-container ul li {
    background: #fff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
}

.header-container ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
}

.header-container ul li button:hover {
    opacity: 0.8;
}


.header-container ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414d;
}

.header-container ul li p + strong {
    margin-top: 32px;
}

.header-container ul li p {
    color: #737380;
    line-height: 21px;
}

.nav {
    display: flex;
    margin-left: 180px;       
}

.footer-container {
    font: 400 18px Roboto, sans-serif;
    -webkit-font-smoothing: antialiased;
    bottom: 0;
    position: relative;
    margin: 20px;
    width: 90%;
    text-align: center;
}